@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Quicksand:wght@700&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-header: #ffffff;
  --bg: #f4f4f4;
  --fg: #17181c;
  --input: #ffffff;
  --primary: #28a08a;
  --dur: 1s;
  --border-color: rgb(196, 193, 193);
  --border-color-light: #e6e7e9;
  --btn-bg-hover: #e3ba22;
  --btn-bg-action: #f2da57;
}
html {
  font-size: 16px;
  background-color: var(--bg);
}
#store {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;

  grid-template-areas:
    'Header'
    'Content';
}

#header {
  grid-area: Header;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Quicksand', sans-serif;
}
#header .top {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}
#header a {
  text-decoration: none;
  color: var(--fg);
}
#header a:hover {
  text-decoration: none;
  color: rgb(102, 102, 83);
}

#header .breadcrumbs {
  padding: 0.4rem 1rem;
  color: rgb(101, 102, 104);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(218, 218, 218, 1) 0%,
    rgba(88, 74, 74, 0) 100%
  );
}

#header .cart {
  font-size: 2.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
#header .logo {
  font-size: 2.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. . . .';
  grid-area: Content;
}

#detail-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '.';
  grid-area: Content;
}

#item-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  grid-column-gap: 0px;
  gap: 24px 24px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
}

.item {
  background-color: #ffffff;
  border: 1px solid var(--border-color-light);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 300px;
  max-width: 250px;
  min-width: 250px;
  overflow: hidden;
  text-decoration: none;
  align-self: center;
  transition: 0.6s;
}
.item:hover {
  box-shadow: 0 10px 35px 10px rgba(173, 174, 177, 0.5);
  transition: 1s;

  transform: translateY(-14px);
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.item-info img {
  margin-bottom: 8px;
  width: 100px;
}

.item a {
  text-decoration: none;
  color: rgb(29, 28, 28);
}
.item a:hover {
  text-decoration: none;
  color: rgb(102, 102, 83);
}
.price {
  color: var(--primary);
  font-size: 1.1rem;
}

#search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}

.result {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-left: 16px;
  font-weight: 600;
}

input {
  color: var(--fg);
  font: 1em/1.5 Hind, sans-serif;
}

input,
.caret {
  margin: auto;
}
form {
  position: relative;
  width: 100%;
  max-width: 17em;
}
input,
.caret {
  display: block;
  transition: all calc(var(--dur) * 0.5) linear;
}
input {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25em inset;
  caret-color: var(--primary);
  width: 2em;
  height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus,
input:valid {
  background: var(--input);
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0.75em 1em;
  transition-duration: calc(var(--dur) * 0.25);
  transition-delay: calc(var(--dur) * 0.25);
  width: 100%;
  height: 3em;
}
input:focus {
  animation: showCaret var(--dur) steps(1);
  outline: transparent;
}
input:focus + .caret,
input:valid + .caret {
  animation: handleToCaret var(--dur) linear;
  background: transparent;
  width: 1px;
  height: 1.5em;
  transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
}
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
label {
  color: #e3e4e8;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
.caret {
  background: currentColor;
  border-radius: 0 0 0.125em 0.125em;
  margin-bottom: -0.6em;
  width: 0.25em;
  height: 1em;
  transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
  transform-origin: 50% 0;
}

@keyframes showCaret {
  from {
    caret-color: transparent;
  }
  to {
    caret-color: var(--primary);
  }
}
@keyframes handleToCaret {
  from {
    background: currentColor;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
  }
  25% {
    background: currentColor;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-180deg) translate(0, 0.875em);
  }
  50%,
  62.5% {
    background: var(--primary);
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, 2.5em);
  }
  75%,
  99% {
    background: var(--primary);
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
  }
  87.5% {
    background: var(--primary);
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, 0.125em);
  }
  to {
    background: transparent;
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
  }
}

#product-description {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;

  font-size: 0.7rem;
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  border: 1px solid var(--border-color-light);
  margin: 24px;
  padding: 24px;
  border-radius: 20px;
  transition: all 0.4s linear 0s;
}

#product-description img {
  height: 250px;
}

#image {
  padding: 24px;
}

#actions {
  display: block;
  min-width: 350px;
  padding: 16px 0px;
}

#actions form {
  display: block;
  min-width: 350px;
  padding: 16px 0px;
}

#actions .select {
  position: relative;
  min-width: 200px;
}
#actions .select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: var(--border-color-light);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
#actions .select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px var(--border-color-light);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
#actions .select select:required:invalid {
  color: #5a667f;
}
#actions .select select option {
  color: #223254;
}
#actions .select select option[value=''][disabled] {
  display: none;
}
#actions .select select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
#actions .select select:hover + svg {
  stroke: var(--primary);
}
#actions .sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
#actions .add-to-cart {
  margin-top: 8px;
  height: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 24px 16px;
  align-items: center;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  background: var(--bg-header);
  box-shadow: 0 1px 3px -2px var(--border-color-light);
  border: 3px solid var(--border-color);
  width: 100%;
  transition: all 0.4s linear 0s;
}

#actions .action-select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#actions .color-select,
#actions .storage-select {
  margin-right: 20px;
}

#actions .add-to-cart {
  font-size: large;
}

#actions .add-to-cart img {
  height: 45px;
}

#actions .add-to-cart {
  transition: all 0.4s linear 0s;
}

#actions .add-to-cart:hover {
  text-indent: 50px;
  background-color: var(--btn-bg-hover);
  border-color: var(--border-color);
  transition: all 0.4s linear 0s;
}
#actions .add-to-cart:active {
  text-indent: 50px;
  background-color: var(--btn-bg-action);
  border-color: var(--border-color);
  transition: all 0.4s linear 0s;
}
#actions .add-to-cart img:active {
  margin-left: 300px;
  transition: all 0.2s linear 0s;
}

#actions .add-to-cart:hover:before {
  right: 0;
  text-indent: 0px;
}
@media only screen and (max-width: 590px) {
  #detail-product {
    padding: 1rem;
  }
  #item-list {
    grid-template-columns: repeat(1, 1fr);
  }
  #product-description {
    flex-direction: column;
  }
  #product-description #image {
    align-self: center;
  }
}

@media only screen and (max-width: 890px) and (min-width: 590px) {
  #detail-product {
    padding: 1.4rem;
  }
  #item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1200px) and (min-width: 890px) {
  #detail-product {
    padding: 1.6rem;
  }
  #item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  #item-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
